<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>" lang="<%- lang %>">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style>
    ol {
    counter-reset: item
    }
    li {
    display: block
    }
    li:before {
    content: counters(item, ".") " ";
    counter-increment: item
    }
    </style>
</head>
<body>
<h1 class="h1"><%= tocTitle %></h1>
<nav id="toc" epub:type="toc">
    <ol>
        <% content.forEach(function(section, sectionIndex){ %>
            <li class="section">
                <a href="<%= section.coverContent.href %>">
                    <%= section.title %>
                </a>
                <ol>
                    <% section.content.forEach(function(chapterContent, index){ %>
                        <% if(!chapterContent.excludeFromToc && !chapterContent.beforeToc){ %>
                            <li class="table-of-content">
                                <a href="<%= chapterContent.href %>"><%= (chapterContent.title || "Chapter "+ (1+index)) %>
                                    <% if(chapterContent.author.length){ %>
                                        - <small class="toc-author"><%= chapterContent.author.join(",") %></small>
                                    <% }%>
                                    <% if(chapterContent.url){ %>
                                    <span class="toc-link"><%= chapterContent.url %></span>
                                    <% }%>
                                </a>
                            </li>
                        <% } %>
                    <% }) %>
                </ol>
            </li>
        <% }) %>
    </ol>
</nav>

</body>
</html>
